.m-5 {
  margin: 1.25rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.flex {
  display: flex
}

.h-5 {
  height: 1.25rem
}

.h-20 {
  height: 5rem
}

.w-5 {
  width: 1.25rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded {
  border-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-solid {
  border-style: solid
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.p-3 {
  padding: 0.75rem
}

.p-5 {
  padding: 1.25rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-extralight {
  font-weight: 200
}

.uppercase {
  text-transform: uppercase
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
